body {
  margin: auto;
  max-width: 800px;
}
#top-bar {
  height: 80px;
  /* display: flex; */
  flex-wrap: wrap;
  overflow: hidden;
}
#top-bar img {
  width: 40px;
  padding: 0;
  margin: 0;
}
.main {
  max-width: 600px;
  width: 80%;
  height: 100%;
  margin-bottom:40px;
  /* display: flex; */
}
.center,
.center a,
.center button
.center div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  font-size: 40px;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}
#ifrm {
  border: solid 1px black;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  z-index: 100;
  height: 90%;
  top: 50px;
  width: 90%;
  margin-left: -45%;
}
.badge {
  position: relative;
  top: 25px;
}
.left {
  left: 30px;
}
.right {
  right: 30px;
}
#delete {
  background-image: url("assets/delete.svg");
  background-size: 60%;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
}
#close-survey{
  z-index: 1000;
}




/* accordian */
.accordion-toggle {
  display: flex;
  flex-direction: row;
}
.accordion-toggle a {
  width: 50%;
}

.accordion-content {
  display: none;
  margin-bottom:20px;
}

.accordion-content.active {
  display: block;
}




/* @media (max-width: 700) {
  #ifrm {
    width: 500px;
    margin-left: -300px;
  }
}
@media (max-width: 600px) {
  #ifrm {
    top: 70%;
    width: 300px;
    margin-left: -150px;
  }
} */
.question p {
  font-size: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}