.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sign-in{
  background-color: transparent;
  border-color: transparent;
}
body {
  margin: auto;
  max-width: 800px;
}
#top-bar {
  height: 80px;
  /* display: flex; */
  flex-wrap: wrap;
  overflow: hidden;
}
#top-bar img {
  width: 40px;
  padding: 0;
  margin: 0;
}
.main {
  max-width: 600px;
  width: 80%;
  height: 100%;
  margin-bottom:40px;
  /* display: flex; */
}
.center,
.center a,
.center button
.center div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}
#icontainer {
  border: solid 1px black;
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  z-index: 100;
  height: 90%;
  top: 30px;
  width: 90%;
  margin-left: -45%;
  display: none;
}
.badge {
  position: relative;
  top: 25px;
}
.left {
  left: 30px;
}
.right {
  right: 30px;
}
#delete {
  background-size: 60%;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
}
#close-survey{
  z-index: 1000;
}
#close{
  position: absolute;
  bottom:0;
  z-index: 1000;
  padding: 0;

  /* align-items: center; */

}




/* accordian */
.accordion-toggle {
  display: flex;
  flex-direction: row;
  height:75px;
}


.accordion-content {
  display: none;
  margin-bottom:20px;
}

.accordion-content.active {
  display: block;
}


.question p {
  font-size: 50px;
}
/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */